//
//
// INPUT MODEL
//
//
.inputBox{
  margin-top: 20px;
  position: relative;
  width: clamp(150px, calc((300 / $width) * 100vw), 300px);
}

.inputBox input{
  padding: 
  clamp(8px, calc((14 / $width) * 100vw), 14px)
  clamp(5px, calc((10 / $width) * 100vw), 10px)
  clamp(8px, calc((16 / $width) * 100vw), 16px)
  clamp(24px, calc((48 / $width) * 100vw), 48px);
  border: none;
  width: 100%;
  border: 2px solid $c1;
  color: $cb;
  font-weight: 300;
  border-radius: clamp(2px, calc((10 / $width) * 100vw), 10px);
  font-size: clamp(8px, calc((16 / $width) * 100vw), 16px);
  transition: .5s;
  outline: none;
}

.inputBox span{
  position: absolute;
  left: 0;
  padding: 
  clamp(8px, calc((14 / $width) * 100vw), 14px)
  clamp(5px, calc((10 / $width) * 100vw), 10px)
  clamp(8px, calc((16 / $width) * 100vw), 16px)
  clamp(24px, calc((48 / $width) * 100vw), 48px);
  font-size: clamp(8px, calc((16 / $width) * 100vw), 16px);
  font-weight: 300;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 20px;
  transition: .5s, color 0s, background 0s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
  color: $cw;
  background: $c2;
  transform: translateX(25px) translateY(-6px);
  font-size: clamp(5px, calc((12 / $width) * 100vw), 12px);
  padding: 0 clamp(4px, calc((8 / $width) * 100vw), 8px);
  border-radius: clamp(5px, calc((10 / $width) * 100vw), 10px);
  letter-spacing: 0.1em;
  transition: .5s, color 1.5s, background 2s;
}

.inputBox input:valid,
.inputBox input:focus
{
  border: 2px solid $c2;
}

.inputBox svg{
position: absolute;
left: clamp(8px, calc((12 / $width) * 100vw), 12px);
top: clamp(9px, calc((14 / $width) * 100vw), 14px);
width: clamp(15px, calc((30/ $width) * 100vw), 30px);
height: 23px;
color: $c2;
border-right: 2px solid $c1;
padding-right: clamp(4px, calc((8 / $width) * 100vw), 8px);
}

.calendar{
  position: absolute;
  display: none;
  border: 2px solid $c2;
  border-radius: 5px;
  z-index: 100;
}

.inputBox.active + .calendar
{
  display: block;
}
//
//
// DROPDOWN MODEL
//
//
.dorpdownBox{
  margin-top: 20px;
  position: relative;
  width: clamp(150px, calc((300 / $width) * 100vw), 300px);
}

.dorpdownBox button{
  position: absolute;
  height: clamp(26px, calc((52 / $width) * 100vw), 52px);
  background: transparent;
  padding: 
  clamp(8px, calc((14 / $width) * 100vw), 14px)
  clamp(5px, calc((10 / $width) * 100vw), 10px)
  clamp(8px, calc((16 / $width) * 100vw), 16px)
  clamp(24px, calc((48 / $width) * 100vw), 48px);
  margin: 0;
  display: flex;
  width: 100%;
  border: 2px solid $c1;
  color: $cb;
  font-weight: 300;
  border-radius: clamp(2px, calc((10 / $width) * 100vw), 10px);
  font-size: clamp(8px, calc((16 / $width) * 100vw), 16px);
  transition: .5s;
  outline: none;
  cursor: pointer;
}

.dorpdownBox span{
  position: absolute;
  left: 0;
  padding: 
  clamp(8px, calc((14 / $width) * 100vw), 14px)
  clamp(5px, calc((10 / $width) * 100vw), 10px)
  clamp(8px, calc((16 / $width) * 100vw), 16px)
  clamp(24px, calc((48 / $width) * 100vw), 48px);
  font-size: clamp(8px, calc((16 / $width) * 100vw), 16px);
  font-weight: 300;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  border: 1px solid rgba(0,0,0,0);
  border-radius: 20px;
  transition: .5s, color 0s, background 0s;
}

.dorpdownBox button.active ~ span
{
  color: $cw;
  background: $c2;
  transform: translateX(25px) translateY(-6px);
  font-size: clamp(5px, calc((12 / $width) * 100vw), 12px);
  padding: 0 clamp(4px, calc((8 / $width) * 100vw), 8px);
  border-radius: clamp(5px, calc((10 / $width) * 100vw), 10px);
  letter-spacing: 0.1em;
  transition: .5s, color 1.5s, background 2s;
}

.dorpdownBox button.active
{
  border: 2px solid $c2;
}

.dorpdownBox svg{
position: absolute;
left: clamp(8px, calc((12 / $width) * 100vw), 12px);
top: clamp(9px, calc((14 / $width) * 100vw), 14px);
width: clamp(15px, calc((30/ $width) * 100vw), 30px);
height: 23px;
color: $c2;
border-right: 2px solid $c1;
padding-right: clamp(4px, calc((8 / $width) * 100vw), 8px);
}

.dorpdownBox .dropdownMenu{
  position: absolute;
  max-height: clamp(50px, calc((200 / $width) * 100vw), 200px);
  width: clamp(150px, calc((300 / $width) * 100vw), 300px);
  top: clamp(26px, calc((52 / $width) * 100vw), 52px);
  background: $cw;
  padding: clamp(5px, calc((10 / $width) * 100vw), 10px) ;
  border: 2px solid $c1;
  border-radius: clamp(5px, calc((10 / $width) * 100vw), 10px);
  overflow: scroll;
  z-index: 100;
  cursor: pointer;
}
.dorpdownBox .dropdownMenu li{
  width: 100%;
  line-height: clamp(11px, calc((30 / $width) * 100vw), 30px);
  &:hover{
    background: $c1;
    color: white;
  }
}
//
//
// HEADER
//
//
header{
  max-width: $width + px;
  width: 100vw;
  height: clamp(4px, calc((100 / $width) * 100vw), 100px);
  @extend %center;
  justify-content: space-around;
  border-bottom: 1px solid $c2;
}

header .titleHeader{
  position: relative;
}

header .titleHeader .hrnet{
  position: absolute;
  right: 0;
  top: clamp(4px, calc((32 / $width) * 100vw), 32px);
}
//
//
// Footer
//
//
footer{
  max-width: $width + px;
  width: 100vw;
  height: clamp(4px, calc((80 / $width) * 100vw), 80px);
  @extend %center;
  border-top: 1px solid $c2;
}
//
//
// HOME
//
//
.home{
  max-width: $width + px;
  width: 100vw;
  height: clamp(325px, calc((750 / $width) * 100vw), 750px);
  @extend %center;
}

.home form{
  @extend %center;
  flex-direction: column;
  gap: clamp(12.5px, calc((25 / $width) * 100vw), 25px);
  padding: clamp(20px, calc((40 / $width) * 100vw), 40px);
  border-radius: clamp(5px, calc((10 / $width) * 100vw), 10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.home form .titleForm{
  font-weight: 900;
  position: relative;
  display: flex;
  justify-content: center;  
}

.home form .titleForm::before{
  content: " ";
  position: absolute;
  height: 90%;
  width: 80%;
  border-bottom: 3px solid $c1;
  border-radius: 10%;
  
}

.home form section{
  @extend %center;
  gap: clamp(25px, calc((50 / $width) * 100vw), 50px);;
}

.home form .blocInput{
  height: clamp(225px, calc((450 / $width) * 100vw), 450px);
}

.home form .blocInput .titleInput{
  width: clamp(150px, calc((300 / $width) * 100vw), 300px);
  height: 50px;
  background-color: $c2;
  @extend %center;
  border-radius: clamp(5px, calc((10 / $width) * 100vw), 10px);
  margin-bottom: clamp(25px, calc((50 / $width) * 100vw), 50px);
}

.home form .submitForm {
  position: relative;
  width: clamp(150px, calc((300 / $width) * 100vw), 300px);
  height: clamp(25px, calc((50 / $width) * 100vw), 50px);
  background-color: $c2;
  @extend %center;
  border-radius: clamp(5px, calc((10 / $width) * 100vw), 10px);
  border: none;
  transition: .5s, background 1s;
  cursor: pointer;
&:hover{
    color: $cw;
    letter-spacing: 0.3vw; 
    background: $c1;
}
}
//
//
// EMPLOYEE
//
//
.employee{
  max-width: $width + px;
  width: 100vw;
  height: clamp(325px, calc((750 / $width) * 100vw), 750px);
  @extend %center;
}

.employee section{
  width: 90%;
  @extend %center;
  flex-direction: column;
}


.employee section .titleEmployee{
  font-weight: 900;
  position: relative;
  display: flex;
  justify-content: center;  
}

.employee section .titleEmployee::before{
  content: " ";
  position: absolute;
  height: 90%;
  width: 80%;
  border-bottom: 3px solid $c1;
  border-radius: 10%;
}

.employee section .filter{
width: 100%;
display: flex;
justify-content: space-between;
}

.employee section table{
  width: 100%;
  height: clamp(325px, calc((500 / $width) * 100vw), 500px);
  margin-top: clamp(15px, calc((30 / $width) * 100vw), 30px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  }

.employee section table thead tr{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: clamp(2.5px, calc((5 / $width) * 100vw), 5px);
  padding-bottom: clamp(5px, calc((10 / $width) * 100vw), 10px);
  border-bottom: 2px solid $c2;  
  }

.employee section table thead tr th{
  width: 10%;
  @extend %center;

  }

.employee section table thead tr th:nth-child(5),
.employee section table thead tr th:nth-child(6)
{
  width: 17%;
  @extend %center;
  }

.employee section table thead tr th:nth-child(7),
.employee section table thead tr th:nth-child(9),
.employee section table thead tr th:nth-child(9)
{
  width: 8%;
  @extend %center;
  }

.employee section table tbody{
overflow: scroll;
border-bottom: 2px solid $c2;
display: flex;
flex-direction: column;
align-items: center;
  }  

.employee section table tbody tr{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: clamp(5px, calc((10 / $width) * 100vw), 10px);
  padding-bottom: clamp(5px, calc((10 / $width) * 100vw), 10px);
  border-bottom: 1px solid $c2;
  &:hover{
    background: $c1;
    color: white;
  }
  }

.employee section table tbody tr th{
  width: 10%;
  @extend %center;
  }

.employee section table tbody tr th:nth-child(5),
.employee section table tbody tr th:nth-child(6)
{
  width: 17%;
  @extend %center;
  }

.employee section table tbody tr th:nth-child(7),
.employee section table tbody tr th:nth-child(9),
.employee section table tbody tr th:nth-child(9)
{
  width: 8%;
  @extend %center;
  }


.employee section .paginate{
  height: clamp(7.5px, calc((35 / $width) * 100vw), 35px);
  margin-top: clamp(7.5px, calc((15 / $width) * 100vw), 15px);
  display: flex;
  gap: clamp(5px, calc((15 / $width) * 100vw), 15px);
  @extend %center;  
}

.employee section .paginate span{
  cursor: pointer;
}

